#IDEA:
**/*.iml

# Gradle
.gradle/
**/.gradle/

# Documentation
docs-site/

# Build outputs (u vás do run/)
run/*
**/run/*
build/*

# Generated sources and derived development metadata
**/src/product/*.gen/
**/src/develop/*.gen/
**/pyproject.toml

# Python packaging metadata
**/*.egg-info/
